body {
    margin: 0;
}
@media screen and (max-width: 640px) {

    .logo {
        height: 60px;
        margin: 15px 0 0 15px;
    }
    .guide_title {
        font-size: 15px;
        margin-left: 15px;
    }
}
