body {
    margin: 0;
}
.second-text {
    font-family: 'Alegreya Sans SC', sans-serif;
}
@media screen and (max-width: 640px) {

    .logo {
        height: 60px;
        margin: 15px 0 0 15px;
    }
    .guide_title {
        font-size: 15px;
        margin-left: 15px;
    }
    .first-text {
        font-size: 25px;
        margin-left: 15px;
    }
    .second-text {
        font-size: 15px;
        margin-left: 15px;
    }
    button {
        width: 120px;
        margin-left: 15px;
    }
    .logo_bottompage {
        height: 180px;
    }
    .logo_box2 {
        margin-top: 20px;
        text-align: center;
    }
}
@media screen and (min-width: 641px) {
    .logo {
        height: 80px;
        margin: 5px 0 0 60px;
    }
    .guide_title {
        font-size: 20px;
        margin: 25px 0 10px 60px;
        color: rgb(162, 111, 224);
        font-family: 'proza libre', sans-serif;
    }
    .first-text {
        font-size: 40px;
        margin-left: 60px;
        font-family: 'Alegreya SC', serif;
        
    }
    .first-content {
        color: #355070;
        font-size: 70px;
    }
    .second-content {
        color: #EAAC8B;
        font-size: 70px;
    }
    .second-text {
        height: 100px;
        width: 400px;
        margin-left: 60px;
        margin-bottom: 60px;
    }
    button {
        margin-left: 60px;
        height: 50px;
        background-color: rgb(64, 203, 224);
    }
    .main-content {
        display: grid;
        grid-template-columns: 70% 30%;  
    }
    .logo_box2 {
        margin: 90px 130px 0 0;
        
    }
}